In [1]:
x = 1
# Let's make an evaluation
if (x > 0):
    print("x is larger than 0")

x is larger than 0

In [2]:
# Here is a comment to assign 3 to the variable a
# and then assign 2 to the variable b
a = 3
b = 2

In [3]:
# Long comments?

"""
description very long
very very long
in multiple lines
block out with three double quotation marks
"""

'\ndescription very long\nvery very long\nin multiple lines\nblock out with three double quotation marks\n'

# Markdown explanation
here is the information

In [4]:
x = 1
# Let's make an evaluation
if (x > 0):
    print("x is larger than 0")

x is larger than 0

In [5]:
c = 3

In [6]:
print(c)

3

In [7]:
d = 10

In [8]:
print(d)

10

In [9]:
my_variable = 5

In [10]:
new_variable = 0.5
print(new_variable)

0.5

In [11]:
print(x)
x = 12
print(x)

1
12

In [12]:
name = "Paul"

In [13]:
new_name = 'Germath'

In [14]:
_name = "Mr X"

In [15]:
Name = "Lisa"

In [16]:
print(name)
print(Name)

Paul
Lisa

In [17]:
name2 = "Jack"
# Can't start the variable with a number
# 2name = "Joe"

In [18]:
# x, y, z, x2, x3, x4
# student_name
# student_age
number_of_students_in_the_class = 9

In [19]:
# variable naming
# try to make them readible and self explanatory
favoriteColorOfPeople = "red" #camel case
favorite_color_of_people = "blue" #snake case

In [20]:
# reserved words
# import = 10
#for, if, range

In [21]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [22]:
# Some variables with different types
item_name = "Computer" # A string
item_quantity = 10 # An integer
item_value = 899.99 # A decimal, float, double
item_in_stock = True # A boolean

print(type(item_name))
print(type(item_quantity))
print(type(item_value))
print(type(item_in_stock))

item_quantity = 15

# will this run?
# Statement below would cause an error
# because assignments are done from right to left
# 20 = item_quantity
# "Paul" = name

new_quantity = item_quantity
print(new_quantity)

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
15

In [23]:
item_quantity = 10.5
print(type(item_quantity))

<class 'float'>

In [24]:
name = input("Enter your name: ")
print(name)
print("The user's name is " + name)

Enter your name: Jack
Jack
The user's name is Jack

In [25]:
# Input function takes everything as string
# Need to convert string to integer if the intention
# is to use it as an integer later on
age = int(input("Enter your age: "))
print(type(age))
print("The user's age is", age)
# Cannot concatanate integer with strings
# Therefore need to convert numerical value
# into a string value
print("The user's age is " + str(age))

Enter your age: 20
<class 'int'>
The user's age is 20
The user's age is 20

In [26]:
print("First string" + " second string")
# the output becomes "First string second string"

First string second string

In [27]:
print("User's name", name, ", user's age", age)

User's name Jack , user's age 20

In [28]:
print("User's name " + name + ", user's age " + str(age) + " years old.")

User's name Jack, user's age 20 years old.

In [32]:
# Use the input function to assign values to two 
# variables to (a and b) and to print them
# in the following way (assume user enters 4 and 5)
# first entered number is 4, second entered number is 5

a = int(input("Enter the first number "))
b = int(input("Enter the second number "))

print("First entered number is", a, "second number is", b)

Enter the first number 4
Enter the second number 5
First entered number is 4 second number is 5

In [33]:
# Exercise: swap the values a and b
# so that a becomes 5, and b becomes 4 (from the exercise above)
# hint: you can use a temporary variable

temp = a
a = b
b = temp

print("First entered number is", a, "second number is", b)

First entered number is 5 second number is 4

In [34]:
a, b = b, a
print("First entered number is", a, "second number is", b)

First entered number is 4 second number is 5

In [38]:
example_name = "Paul"
print(example_name[0])
print(example_name[1])
print(example_name[2])
print(example_name[3])
# index out of range for [4]
# print(example_name[4])

P
a
u
l

In [43]:
print(example_name[-1])
print(example_name[-2])
print(example_name[-3])
print(example_name[-4])
# string out of range
# print(example_name[-5])

l
u
a
P

In [47]:
# Cannot change individual characters in a string variable
example_name[0] = "M"

TypeError: 'str' object does not support item assignment

In [46]:
# You can change the entirety of a string
example_name = "Maul"
print(example_name)

Maul

In [48]:
name = "Paul Claviere-Schiele"
# how do I get Claviere from variable name
print(name[5:13])

Claviere

In [57]:
# How do I get Schiele from variable name
print(name[14:21])
print(name[14:])
# print(name[14:22])
# print(name[22])

Schiele
Schiele

In [59]:
print(name[4:-4])
print(name[:-4])

 Claviere-Sch
Paul Claviere-Sch

In [60]:
print(name[4])

In [62]:
index1 = 3
index2 = 6

print(name[index1:index2])
print(name[index2 - index1:index2 * 2])

l C
l Clavier

In [63]:
# We cannot use floats/decimals as index numbers
print(name[index2/index1])

TypeError: string indices must be integers

In [69]:
index3 = index2 / index1
print(index3)
print(type(index3))
index4 = int(index2 / index1)
print(index4)
print(type(index4))

2.0
<class 'float'>
2
<class 'int'>
u

In [70]:
print(name[int(index2/index1)])

u

In [72]:
# int function always rounds down to the nearest integer
print(name[int(1.999999999)])

a

In [76]:
# len() function tells us the lenth of a string (or a list)
print(len(name))
name2 = "Lisa"
print(len(name2))

21
4

In [77]:
print(name[:len(name2)])
# the statement above is equal to the statement below
print(name[:4])

Paul
Paul

In [79]:
# New line character
print("My name is Naci\nI live in Izmir")

My name is Naci
I live in Izmir

In [80]:
# Use of tabs
print("a\tb\tc\td")

a	b	c	d

In [85]:
name = "Jack"
age = 22
city = "Paris"

#print("Name:\t" + name + "\nAge:\t" + str(age) + "\nCity:\t" + city)

# say I want to see Paris as "Paris"
print("Name:\t" + name + "\nAge:\t" + str(age) + "\nCity:\t\"" + city + "\"")

Name:	Jack
Age:	22
City:	"Paris"